* {
  margin:0;
  padding: 0;
 
}
nav {
  padding: 0;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background: #cecece;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease, padding 0.3s ease;
  height: 90px;
  
}

nav h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "exo 2", sans-serif;
  margin-right: 120px;
  margin-top:30px;
}

.nav-links {
  display: flex;
  gap: 20px; 
  /* margin-left: 370px;  */
  align-items: center; 
  margin-top:30px;
  

}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 19px;
  position: relative;
  padding: 20px 35px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  /* font-weight: 550; */ 
}


.dropdown {
  position: relative;
}
.dropdown:hover{
box-shadow: rgb(26, 23, 23);
}

.hamburger-container {
  display: flex;
  align-items: center; 
  background-color: #cecece; 
  border-radius: 20px; 
  padding: 6px; 
  border: 1.5px solid rgb(122, 122, 122);
  width:70px;
  margin-right: 120px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.hamburger-container:hover{
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right:8px;
  left: 0;
  background-color: #cecece; 
  border-radius: 5px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}

.dropdown-menu a {
  display: block; 
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
}

.dropdown-menu :hover{
display: block; 
color: #ffffff;
background-color: #7a1a32;

}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
  width: 25%;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.line {
  width: 20px; /* Width of the lines */
  height: 1.5px; /* Height of the lines */
  background-color: #000; /* Color of the lines */
  margin: 2px 0; /* Spacing between lines */
  border-radius: 20px;
  margin-left: 4px;
  /* pointer-events: none; */
}

/* Person Icon */
.person.icon {
  width: 30px; /* Adjust width as necessary */
  height: 30px; /* Adjust height as necessary */
  background-size: cover; /* Ensures the icon fits the container */
  margin-left: 10px; /* Space between lines and person icon */
  /* pointer-events: none; */
  color: white;
  
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #f0f0f0;
}


/* Responsive */
@media (max-width: 768px) {
  nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
  }

  .nav-links {
      flex-direction: column;
      gap: 20px;
      margin-top: 10px;
  }

  .nav-links a {
      font-size: 14px;
      padding: 10px 15px;
  }

  button {
      width: 100%;
      margin-top: 10px;
  }
}
.logo-container {
display: flex;
align-items: center;
}

.logo {
height: 135px; /* Adjust size as needed */
margin-left: 50px; /* Space between logo and title */
margin-top: 24px;
transition: transform 0.3s ease;
}
.logo:hover{
transform:scale(1.1);
}

.title {
  display: inline-block; /* Prevents the title from pushing other elements */
  margin-left:-1px;
  position:relative; 
  font-size: 26px; /* Font size */
  width: 17ch;
  font-weight: 540;
  overflow: hidden; /* Ensures text stays within bounds */
  white-space: nowrap; /* Prevents text wrapping */
  border-right: 4px solid black; /* Cursor effect */
  animation: typing 5s steps(30)infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards; 
  /* animation-iteration-count: infinite;   */

}

@keyframes typing {
  from { width: 0; } /* Start with width 0 */
  to { width: 17ch; } /* Full width of the text */
}


@keyframes pause {
  from { width: 17ch; }
  to { width: 17ch; } 
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.landing {
  background: linear-gradient(to bottom, #cecece, #ffffff);
  color: rgb(0, 0, 0);
  display:inline-flex;
  align-items: center;
  justify-content: center;
  height: 87.5vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.first-row{
  display: flex;
  gap:3vh;
  /* justify-content: space-evenly; */
}
.first-line-wrapper{
  display: flex;
  flex-direction: column;
}
.hero-text {
  margin-left: 7%;
  margin-bottom: 20%;
}

.first-line-wrapper {
  display: flex;
  align-items: left;
  /* margin-top: 35vh; */
}

.firstline {
  color: rgb(0, 0, 0);
  font-size: 34px;
  text-align: left;
  right:10%;
 
}
.firstline1{
  color: rgb(0, 0, 0);
  font-size: 34px;
  text-align: left;
  margin-bottom: 0;
  margin-top:250px;
}
.secondline1 p{
 font-size: 25px;
 margin-top: 5%;
 margin-bottom:50px;
 color:#7a1a32;
}

.title1 {
  font-family: "Bruno Ace", sans-serif;
  font-weight: bold;
  font-size: 56px;
  padding-left: 0;
  margin-top:237px;
  transition: color 0.3s ease;
}
.title1:hover{
  color:#7a1a32;
}
.car-image {
  width: 160%;
  margin-right: -8%;
  bottom:-24%;
  right: 0px;
  position: absolute; /* Allows the car to overlay the parking image */
  transition: transform 3s ease; /* Transition for smooth movement */
  transform: translateX(100%); /* Start position off the screen */
  scroll-behavior: auto;
  z-index: 2;
}

.landing-button {
  margin-top: 0px; /* Adjust as needed */
  padding: 17px 36px; /* Adjust padding */
  color: gold;
  width: 20vh;
  background-color: rgb(0, 0, 0); /* Text color */
  text-decoration: none;
  text-align: center;
  border: none; /* Remove border */
  border-radius: 50px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  margin-right:20%;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  font-weight: 500;
}

.landing-button:hover{
  background-color: #7a1a32;
  color: #ffffff;
  transform: translateY(0px);
  transform: scale(1.1);
}
.hero-image {
  position: relative;
  width: 1000px; 
  height: 400px; 
  overflow:visible; 
  margin-left:10%;
}

.park-image {
  position: absolute;
  bottom:270px;
  /* left: 0; */
  right:160px;
  width: 40%; /* Adjust as needed */
  z-index: 1; /* Behind the car image */
  opacity: 0; /* Start hidden */
  transition: opacity 4s ease; /* Smooth opacity transition */
  
}

@keyframes slide-in {
  to {
    right: 0%; /* Adjust this to where you want the car to stop */
  }
}

.car-image.loaded {
  transform: translateX(0); /* Move to original position */
}
.park-image.visible {
  opacity: 1; /* Show parking image when the class is added */
}


.ticker-container {
  display: flex;
  align-items: center;
  background-color: #7a1a32; /* Belt color */
  color: #ffffff;
  overflow: hidden;
  height: 200px; /* Adjust as needed */
}

.sponsor {
  flex: 0 0 25%; /* Fixed width for the sponsor section */
  text-align: center;
  font-size: 1.5rem;
}

.ticker-text {
  flex: 1;
  overflow: hidden;
  position: relative;
  white-space: nowrap; /* Prevents text from wrapping */

}

.ticker-logos {
  display: flex;
  animation: scroll 6s linear infinite; /* Adjust time as needed */
  margin-left: 0px;
}

.logo-container {
  display: flex;
}

.logo-container img{
padding: 5vh;
height: 22vh;
width: 300%;
margin-top: 5px;
margin-right: 50px; /* Add right margin for spacing */

}

.logo1 {
  width: 15%;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-90%); /* Adjust to -50% to account for two sets of logos */
  }
}
.tagline {
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
  position: absolute;
  width: 80rem;
  top: 160%; 
  left: 91%; 
  transform: translate(-50%, -50%); 
  color: #ffffff; 
  font-size: 47px; 
  text-align:left; 
  z-index: 1; 
  opacity: 0.9; 
  transition: opacity 0.3s ease; 
}

 .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 45px; /* Consistent height for button text */
  height: 45px; /* Fixed height to prevent resize on hover */
  max-width: 180px;
  position: relative; /* Keep button within document flow */
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth color transition */
  overflow: hidden;
}

.btn-1 {
  font-weight: 400;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    height: 45px;
    width: 100%;
    left: 0;
    top: 0;
  }

  rect {
    fill: none;
    stroke: #00000000;
    stroke-width: 5;
    stroke-dasharray: 422, 0;
    transition: all 0.95s linear;
  }
}

.btn-1:hover {
  color: rgb(0, 0, 0);

  rect {
    stroke: #7a1a32;;
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 50;
    transition: all 2.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.parking-lines {
  position: absolute; /* Positioning to overlay in the same container */
  top: -33%; /* Align with the bottom of the hero-image */
  /* left: 0; Align to the left of the hero-image */
  width: 190%; /* Adjust as needed to fit */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Place behind the car image */
  right: 15%;
}
.headicon h2{
align-content: center;
padding-top: 50px;
padding-bottom: 30px;
font-size: 30px;
background-color: white;
}
.icon-section {
display: flex;
justify-content: space-around;
padding: 40px;
background-color: rgb(255, 255, 255);
}

.icon-card {
text-align: center;
max-width: 250px;
transition: transform 0.3s ease-in-out;
}


.icon-circle {
width: 100px;
height: 100px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto 20px;
box-shadow: 0 20px 15px rgba(10, 10, 10, 0.1);
transition: background-color 0.3s ease, transform 0.3s ease;
background: rgb(251, 238, 215);
}
.icon-circle:hover, .icon-circle i:hover {
transform: scale(1.1);
background-color: #7a1a32; 
font-size: 2.5rem;
color: rgb(251, 238, 215);

}


.icon-circle i {
font-size: 2.5rem;
color: #7a1a32;
}

h3 {
font-size: 1.2rem;
margin-bottom: 10px;
}

.itemp {
font-size: 0.9rem;
color: #fffdfd;
}
.new_footer_area {
background: #7a1a32;

}

.new_footer_top {
padding: 0px 0px 80px;
position: relative;
overflow-x: hidden;
/* margin-top: 0; */
}

.row {
display: flex;
justify-content: center; 
gap: 80px; 
background-color: #7a1a32;
margin-bottom: 80px;
padding-top: 80px;
}

.f_subscribe_two {
display: flex;
flex-direction: column; /* Stack the input and button vertically */
align-items: center;
width: 100%;
max-width: 250px; /* Set max width for the form */
margin: 10px auto; /* Center the form horizontally */
}

/* Styling for the email input field */
.f_subscribe_two .form-control {
width: 100%;
padding: 12px;
font-size: 16px;
border: 2px solid #ccc;
border-radius: 10px;
margin-bottom: 2px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
transition: border-color 0.3s ease;
}

.f_subscribe_two .btn_get {
width: 50%;
padding: 12px;
font-size: 16px;
background-color: rgb(251, 238, 215); /* Primary color */
color: #7a1a32;
border: 2px solid rgb(251, 238, 215);
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}

/* Button hover effect */
.f_subscribe_two .btn_get:hover {
color: rgb(251, 238, 215);
background-color: rgb(0, 0, 0);
border-color: rgb(0, 0, 0);
}

/* Error and success messages styling */
.mchimp-errmessage, .mchimp-sucmessage {
font-size: 14px;
color: rgb(255, 255, 255);
text-align: center;
margin-top: 10px;
display: none; 
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
border-width: 1px;
margin-top: 20px;
}

.btn_get:hover {
color: #fff;
background: #ffffff;
border-color: #7a1a32;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
text-decoration: none;
outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
color: #7a1a32;
text-decoration: none;
}

.new_footer_top .f_widget.about-widget .f_list li {
margin-bottom: 11px;
text-decoration: none;
}

.f_widget.about-widget .f_list li:last-child {
margin-bottom: 0px;
text-decoration: none;
}

.f_widget.about-widget .f_list li {
margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
width: 44px;
height: 44px;
line-height: 43px;
background: transparent;
border: 1px solid rgb(251,238,215);
font-size: 24px;
}

.f_social_icon a {
width: 46px;
height: 46px;
border-radius: 50%;
font-size: 14px;
color: rgb(251,238,215);
display: inline-block;
background: #ebeef5;
text-align: center;
transition: all 0.2s linear;
}

.btn_get_two {
box-shadow: none;
background: #7a1a32;
border-color: #7a1a32;
color: #fff;
}

.btn_get_two:hover {
background: transparent;
color: #7a1a32;
}

.new_footer_top .f_social_icon a:hover {
background: #7a1a32;
border-color: #7a1a32;
color: white;
transform: scale(1.1);
}

.new_footer_top .f_social_icon a + a {
margin-left: 4px;
}

.new_footer_top .f-title {
margin-bottom: 30px;
color: rgb(251,238,215);
}

.f_600 {
font-weight: 600;
}

.f_size_18 {
font-size: 18px;
}

h1, h2, h3{
color: #4b505e;
align-content: center;
}

.new_footer_top .f_widget.about-widget .f_list li a {
color: #dadada;
}
.new_footer_top .f_widget.about-widget .f_list li a :hover{
color: #000000;
}
.new_footer_top .footer_bg {
position: absolute;
bottom: 0;
background-color: #7a1a32;
width: 100%;
height: 166px;
}

.new_footer_top .footer_bg .footer_bg_one {
background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
width: 330px;
height: 105px;
background-size: 100%;
position: absolute;
bottom: 0;
left: 30%;
animation: myfirst 22s linear infinite;

}

.new_footer_top .footer_bg .footer_bg_two {
background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
width: 88px;
height: 100px;
background-size: 100%;
bottom: 0;
left: 38%;
position: absolute;
animation: myfirst 30s linear infinite;
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}
ul, ol, li,a {
text-decoration: none;
list-style-type: none; /* Remove bullet points from all lists */
padding: 0; /* Remove default padding */
margin: 0; /* Remove default margin */
}
.list-unstyled  a{
color:rgb(255, 255, 255);
}
.list-unstyled  li{
color:rgb(255, 255, 255);
}