
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --font: 'Poppins', sans-serif;
  --color: #7a1a32;
  
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.swiper {
  width: 100%;
  font-family: var(--font);
  display: flex;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,#cecece 100%);
  align-items: center;
  /* background-color: var(--bg-color); */
  position: relative; /* Ensure positioning for buttons */
}

.swiper-wrapper {
  width: 37%;
  margin-top: 30px;
  margin-bottom: 50px;
  /* height: 35em; */
  display: flex;
  align-items: center;
}

.card {
  width: 20em;
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1em;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.card__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
}

.card__name {
  color: var(--color);
}

.card__text {
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

.card__btn {
  background-color: var(--color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}

/* Navigation buttons styles */
.swiper-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  z-index: 10; /* Ensure buttons are on top */
}

.swiper-button-left,
.swiper-button-right {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Arrow size */
  color: var(--color);
  transition: background-color 0.3s;
}

.swiper-button-left:hover,
.swiper-button-right:hover {
  background-color: rgba(255, 255, 255, 1); /* Solid background on hover */
}

